@import "./custom.scss";

body {
  font-family: "Montserrat", system-ui;
  margin: 0;
}
a {
  color: slateblue;
  &:hover {
    color: darkslateblue;
  }
}

main {
  min-height: 80vh;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1020px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-10px);
  }
}
