@import "./custom.scss";

body {
  font-family: "Montserrat", system-ui;
  margin: 0;
}
a {
  color: slateblue;
  &:hover {
    color: darkslateblue;
  }
  &:focus {
    outline: none;
  }
}

button:focus {
  outline: none;
}

main {
  min-height: 80vh;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1020px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-10px);
  }
}

.rating {
  span i {
    color: #007bff;
  }
}

.product__container {
  display: flex;
  flex-wrap: wrap;
}

.product__photo {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    flex-basis: 50%;
  }
}

.product__info {
  color: #282828;
  flex-basis: 100%;
  @media (min-width: 768px) {
    flex-basis: 50%;
  }

  .btn-cart {
    background-color: #333333;
    border-color: #333333;
    border-radius: 3px;
  }
}

.product__amount {
  display: flex;
  justify-content: space-between;
  color: #282828;
  .amount-selector {
    display: flex;
    align-items: center;
    .sub,
    .add {
      width: 24px;
      height: 24px;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      border-radius: 100px;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        cursor: default;
      }
    }

    .sub {
      background-color: #dfdfdf;
      margin-left: 0;
    }
    .add {
      border: 1px solid #282828;
    }

    .amount {
      font-size: 0.875rem;
    }
  }
}

.shopping-cart {
  color: #282828;
}

.toast {
  position: fixed;
  right: 10px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  width: 410px;
  .toast-header {
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    .close {
      font-size: 2rem;
    }
  }
}
